#about {
  scroll-behavior: smooth;
}

.about {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.about h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    color: #E7DFDD;
    margin-bottom: -15%;
}

.about h6 {
    color: #E7DFDD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    margin-bottom: 10%;
}

.about p {
    color: #E7DFDD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.about .skills {
    display: flex;
    width: 55%;
    justify-content: space-between;
    color: #A239CA;
    font-size: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}

@media (max-width: 1200px) {
  .about {
    margin-top: 150px;
    width: 60%;
  }
 }

@media (max-width: 1024px) {
  .about {
    width: 80%;
  }

  .about h1 {
      font-size: 3.2em;
      margin-bottom: -10%;
  }

  .about h6 {
      font-size: 2.1em;
  }

 }

 @media (max-width: 600px) {
   .about {
     margin-top: 75px;
     width: 90%;
   }

   .about h1 {
       font-size: 3em;
       margin-bottom: -10%;
   }

   .about h6 {
       font-size: 1.6em;
   }

   .about .skills {
     margin-left: 15%;
     margin-top: -2%;
   }
 }
