.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0E0B16;
  height: 80px;
  border-bottom: 1px #A239CA solid;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 20px;
}

.navigation .nav-links a {
    color: lightgray;
    transition: color .2s ease;
}

.navigation .nav-links a:hover {
    color: #A239CA;
}

@media (max-width: 1024px) {
  .navigation .nav-links {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .navigation {
    height: 50px;
  }

  .navigation .nav-links {
    width: 85%;
    font-size: 16px;
  }
  .navigation .nav-links a:hover {
      color: lightgray;
  }
}

@media (max-width: 350px) {
  .navigation .nav-links {
    width: 100%;
  }
}
