.projects {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 7%;
}

.projects .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.projects .project-container h3 {
    color: #E7DFDD;
    font-size: 22px;
    font-weight: 400;
}

.projects .project-container img {
    width: 60%;
}

.projects .project-container p {
    width: 60%;
    color: #E7DFDD;
}

.projects .project-container .project-links {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
}

.projects .project-container .fa-desktop:hover {
    color: #A239CA;
}

.projects .project-container .fa-code:hover {
    color: #A239CA;
}

@media (max-width: 1250px) {
  .projects {
    margin-top: 10%;
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .projects {
    margin-top: 15%;
    width: 100%;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .projects .project-container {
    margin-bottom: 8%;
  }

  .projects .project-container img {
      width: 80%;
  }

  .projects .project-container p {
      width: 80%;
  }
  .projects .project-container .project-links {
      width: 30%;
      margin-top: 8%;
      margin-bottom: 6%;
  }
}
