#projects {
  scroll-behavior: smooth;
}

.projects {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
}

.projects h2 {
    color: #E7DFDD;
    font-size: 60px;
    font-weight: 500;
}

.projects .project-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.projects h3 {
    color: #E7DFDD;
    font-size: 30px;
    margin-bottom: -20px;
    font-weight: 400;
    text-align: left;
}

.projects h4 {
    color: #E7DFDD;
    font-size: 20px;
    font-weight: 300;
}

.projects .project-container img {
    width: 100%;
}

.projects .project-container p {
    color: #E7DFDD;
}

.projects .project-container .project-links {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: 4% auto;
}

.projects .project-container .fa-desktop,
.projects .project-container .fa-code {
    transition: color .2s ease;
}

.projects .project-container .fa-desktop:hover,
.projects .project-container .fa-code:hover {
    color: #A239CA;
}

.projects .project-container .fa-code:hover {
    color: #A239CA;
}

@media (max-width: 1250px) {
  .projects {
    margin-top: 10%;
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .projects {
    margin-top: 15%;
    width: 100%;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .projects .project-container {
    margin-bottom: 8%;
  }

  .projects .project-container img {
      width: 80%;
  }

  .projects .project-container p {
      width: 80%;
  }
  .projects .project-container .project-links {
      width: 30%;
      margin-top: 8%;
      margin-bottom: 6%;
  }
}
